* {
  box-sizing: border-box;
}

nav {
  display: flex;
  justify-content: space-between;
  padding: 0 20px;
}

.navbar-links {
  display: flex;
  gap: 20px;
}

section {
  display: flex;
}

.hero-text {
  width: 50%;
}

.hero-image-container {
  width: 50%;
}

.hero-image-container img {
  width: 100%;
  height: auto;
}